<main>
  <article>
    <!-- 
        - #SERVICE
      -->

    <section
      class="section service has-bg-image"
      aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')"
    >
      <div class="container">
        <h2 class="section-title headline-md text-center" id="service-label">
          My Services
        </h2>

        <ul class="service-list">
          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(177, 39%, 72%)"
            >
              <div class="card-media">
                <ion-icon name="code-working-outline"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Web Delopment</h3>

                <p class="body-sm">
                  I specialize in building responsive and user-friendly websites
                  using HTML, CSS, and JavaScript, and I leverage popular CSS
                  frameworks like Bootstrap and Tailwind CSS for efficient
                  styling.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(41, 99%, 64%)"
            >
              <div class="card-media">
                <ion-icon
                  name="code-slash-outline"
                  aria-hidden="true"
                ></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Frontend Development</h3>

                <p class="body-sm">
                  I craft visually appealing and interactive user interfaces
                  using HTML, CSS, and JavaScript. I'm skilled in frontend
                  frameworks like Angular and React to create engaging user
                  experiences.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(19, 97%, 85%)"
            >
              <div class="card-media">
                <ion-icon
                  name="code-slash-outline"
                  aria-hidden="true"
                ></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Backend Development</h3>

                <p class="body-sm">
                  I excel in backend development, creating robust server-side
                  solutions using Node.js and Express for JavaScript-based
                  applications or Python and Django for a Python stack. I'm
                  experienced with a variety of databases, including MongoDB,
                  MySQL, MSSQL, PostgreSQL, and caching with Redis.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(221, 100%, 79%)"
            >
              <div class="card-media">
                <ion-icon name="git-branch-outline"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">DevOps</h3>

                <p class="body-sm">
                  I streamline development processes by implementing DevOps
                  practices. I create automated CI/CD pipelines, manage
                  dependencies with NPM packages, and utilize version control
                  with GitHub. I also have experience with cloud platforms like
                  Azure and container orchestration using Kubernetes.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(76, 39%, 72%)"
            >
              <div class="card-media">
                <ion-icon name="checkbox-outline"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">
                  Testing and Quality Assurance
                </h3>

                <p class="body-sm">
                  I prioritize delivering bug-free software by writing
                  comprehensive unit tests and conducting rigorous quality
                  assurance. I implement industry-standard testing frameworks
                  and practices.
                </p>
              </div>
            </div>
          </li>

          <li class="card-container">
            <div
              class="card card-md"
              style="background-color: hsl(245, 100%, 90%)"
            >
              <div class="card-media">
                <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Software Architecture</h3>

                <p class="body-sm">
                  I specialize in software architecture, planning and
                  structuring projects to meet long-term goals. I employ design
                  patterns and best practices to ensure code quality and
                  maintainability.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
