<main>
  <article>
    <!-- 
        - #CONTACT
      -->

    <section
      class="section contact has-bg-image"
      aria-labelledby="contact-label"
      style="background-image: url('./assets/images/contact-bg.png')"
    >

      <div class="container">
        <form [formGroup]="formdata" (ngSubmit) = "sendEmail(formdata.value)" class="contact-form">
          <h2 class="headline-sm" id="contact-label">Get in touch</h2>
          <p class="contact-text body-md">
           I would love to hear from you.
          </p>

          <div class="wrapper">
            <div>
              <label for="from_name" class="label">First name</label>

              <input
                type="text"
                name="from_name"
                id="from_name"
                formControlName="from_name"
                placeholder="Name *"
                required
                class="input-field"
              />
            </div>

            <div>
              <label for="email" class="label">Your Email </label>

              <input
                type="email"
                name="email"
                id="email"
                formControlName="from_email"
                placeholder="Email *"
                required
                class="input-field"
              />
            </div>
          </div>

          <label for="subject" class="label">Subject</label>
          <input
            type="text"
            name="subject"
            formControlName="subject"
            id="subject"
            placeholder="Subject *"
            class="input-field"
          />

          <label for="message" class="label">Your message </label>
          <textarea
            name="message"
            id="message"
            formControlName="message"
            placeholder="Your message *"
            required
            class="input-field"
          ></textarea>

          <button type="submit" class="btn btn-tertiary">Send Message</button>
        </form>

        <div class="contact-content">
          <ul class="contact-list">
            <li class="contact-item">
              <div
                class="item-icon"
                style="background-color: hsl(4, 95%, 77%)"
              >
              <ion-icon name="grid-outline"></ion-icon>
              </div>
              <div>
                <p class="label-lg">Replit</p>
                <a href="https://replit.com/@BhalchandraRane" class="body-lg"
                target="_blank"
                  >Replit Brane</a
                >
              </div>
            </li>
            <li class="contact-item">
              <div
                class="item-icon"
                style="background-color: hsl(177, 39%, 72%)"
              >
                <ion-icon name="logo-octocat"></ion-icon>
                <!-- <ion-icon name="call" aria-hidden="true"></ion-icon> -->
              </div>
              <div>
                <p class="label-lg">Github</p>
                <a
                  href="https://github.com/Brane105"
                  target="_blank"
                  class="body-lg"
                  >Brane105</a
                >
              </div>
            </li>
            <!-- <li class="contact-item">
              <div
                class="item-icon"
                style="background-color: hsl(177, 39%, 72%)"
              >
                <ion-icon name="call" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <p class="label-lg">Phone</p>

                <a href="tel:+011236548096" class="body-lg">+91 125532665</a>
              </div>
            </li> -->
            <li class="contact-item">
              <div
                class="item-icon"
                style="background-color: hsl(41, 99%, 64%)"
              >
                <ion-icon name="mail" aria-hidden="true"></ion-icon>
              </div>
              <div>
                <p class="label-lg">Mail</p>
                <a href="mailto:lucidev25@gmail.com" class="body-lg"
                  >braneLuciDev@gmail.com</a
                >
              </div>
            </li>
            <li class="contact-item">
              <div
                class="item-icon"
                style="background-color: hsl(19, 97%, 85%)"
              >
                <ion-icon name="location" aria-hidden="true"></ion-icon>
              </div>
              <div>
                <p class="label-lg">Based in</p>

                <address class="body-lg">Mumbai Maharashtra, India</address>
              </div>
            </li>
          </ul>
        </div>
        <notifier-container></notifier-container>
      </div>
    </section>
  </article>
</main>

