<main>
  <article>
    <!-- 
        - #PORTFOLIO
      -->

    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">
        <h2 class="section-title headline-md text-center" id="portfolio-label">
          Latest Projects
        </h2>

        <ul class="portfolio-list">
          <li>
            <div class="portfolio-card">
              <div
                class="card-banner img-holder"
                style="--width: 800; --height: 540"
              >
                <img
                  src="./assets/images/realtor1.png"
                  width="800"
                  height="540"
                  loading="lazy"
                  alt="Website Design for Marketing Agency Startup"
                  class="img-cover"
                />

                <a
                href="https://real-estate-application-five.vercel.app/" 
                target="_blank"
                  class="btn-icon"
                  aria-label="More about Website Design for Marketing Agency Startup"
                >
                  <ion-icon
                    name="arrow-forward-sharp"
                    aria-hidden="true"
                  ></ion-icon>
                </a>
              </div>

              <div class="card-content">
                <span class="chip label-md">Web Development</span>

                <h3 class="title-md">
                  Realtor App for Real Estate
                </h3>

                <p class="card-text">
                  Realtor App is an React based application it has various feature you can register , login 
                  , sell or rent your property , create listings of properties , map
                  we using react for frontend and firebase for backend.
                </p>

                <a href="https://github.com/Brane105/Rental-App-Using-React---Tailwind-CSS-and-Firebase" class="btn btn-primary"  target="_blank">View Project</a>
              </div>
            </div>
          </li>

          <li>
            <div class="portfolio-card">
              <div
                class="card-banner img-holder"
                style="--width: 800; --height: 540"
              >
                <img
                  src="./assets/images/kanbanport.png"
                  width="800"
                  height="540"
                  loading="lazy"
                  alt="Website Design for Marketing Agency Startup"
                  class="img-cover"
                />

                <a
                  href="https://kanban-board-application-ykx9.vercel.app/"
                  class="btn-icon"
                  target="_blank"
                  aria-label="More about Website Design for Marketing Agency Startup"
                >
                  <ion-icon
                    name="arrow-forward-sharp"
                    aria-hidden="true"
                  ></ion-icon>
                </a>
              </div>

              <div class="card-content">
                <span class="chip label-md">Web Development</span>

                <h3 class="title-md">
                  Kanban Board Application
                </h3>

                <p class="card-text">
                  kanban board app is an app created using angular for the front end and 
                  firebase for the backend we have three status backlog , in progress , done you can 
                  drag and drop your notes when done.
                </p>

                <a href="https://github.com/Brane105/kanban-board-application" target="_blank" class="btn btn-primary">View Project</a>
              </div>
            </div>
          </li>

          <li>
            <div class="portfolio-card">
              <div
                class="card-banner img-holder"
                style="--width: 800; --height: 540"
              >
                <img
                  src="./assets/images/voting.PNG"
                  width="800"
                  height="540"
                  loading="lazy"
                  alt="Website Design for Marketing Agency Startup"
                  class="img-cover"
                />

                <a
                  href="https://github.com/Brane105/Voting-Application-MEAN-Stack-"
                  class="btn-icon"
                  target="_blank"
                  aria-label="More about Website Design for Marketing Agency Startup"
                >
                  <ion-icon
                    name="arrow-forward-sharp"
                    aria-hidden="true"
                  ></ion-icon>
                </a>
              </div>

              <div class="card-content">
                <span class="chip label-md">Web Development</span>

                <h3 class="title-md">
                  Voting Application
                </h3>

                <p class="card-text">
                  I developed this website using angular and mongodb at backend this is voting app
                  in this admin role will add the candidates and the voter will just place his or her vote 
                  once voted you cant place your vote . 
                </p>

                <a href="https://github.com/Brane105/Voting-Application-MEAN-Stack-" target="_blank" class="btn btn-primary">View Project</a>
              </div>
            </div>
          </li>

          <li>
            <div class="portfolio-card">
              <div
                class="card-banner img-holder"
                style="--width: 800; --height: 540"
              >
                <img
                  src="./assets/images/contact.jpg"
                  width="800"
                  height="540"
                  loading="lazy"
                  alt="Website Design for Marketing Agency Startup"
                  class="img-cover"
                />

                <a
                  href="https://github.com/Brane105/COMPANY_MANAGEMENT_APP"
                  class="btn-icon"
                  target="_blank"
                  aria-label="More about Website Design for Marketing Agency Startup"
                >
                  <ion-icon
                    name="arrow-forward-sharp"
                    aria-hidden="true"
                  ></ion-icon>
                </a>
              </div>

              <div class="card-content">
                <span class="chip label-md">Web Development</span>

                <h3 class="title-md">
                  Contact Manager App 
                </h3>

                <p class="card-text">
                  I developed contact manager app using angular and mongodb 
                  in this app you can register and login here you can add new contacts edit them and 
                  delete them.
                </p>

                <a href="https://github.com/Brane105/COMPANY_MANAGEMENT_APP" target="_blank" class="btn btn-primary">View Project</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
