/* Change scrollbar width */
@import "node_modules/angular-notifier/styles";

::-webkit-scrollbar {
  width: 10px; /* You can adjust the width as needed */
}
/* Import angular-notifier styles */

/* Change scrollbar track color (the background) */
::-webkit-scrollbar-track {
  background-color: #ecc1ae; /* Change to your desired color */
}

/* Change scrollbar thumb color (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #f79263; /* Change to your desired color */
  border-radius: 10px;
}

/* Change scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #fb611a; /* Change to your desired color */
}

