<main>
  <article>
    <section class="section hero" aria-label="home">
      <div class="container">
        <div class="hero-content">
          <p class="hero-subtitle">Hi, My name is Bhalchandra Rane</p>

          <h1 class="headline-lg">I'm a Software Engineer</h1>

          <p class="hero-text body-md">Based in Mumbai Maharashtra, India.</p>

          <a href="#about" class="btn btn-primary">Let's Start</a>
        </div>

        <figure class="hero-banner">
          <img
            src="assets/images/about2.png"
            width="680"
            height="645"
            alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face"
            class="w-100"
          />
        </figure>
      </div>
    </section>

    <!-- 
        - #CLIENT
      -->

    <section class="client" aria-label="Trusted client">
      <div class="container">
        <ul class="slider">
              <!-- <img src="assets/images/Reliance.png" style="width: 130px;height: 40px;" width="130" height="40" alt="clients" class="w-100"> -->
              <li class="slider-item">
                <!-- <img src="../../assets/images/rillogo.jpg" alt="" style="width: 50px;height: 50px;filter: grayscale(100%);border-radius: 50%;margin-right: 10px;"> -->
                <p class="text1 w-100" width="130" height="40">
                  RELIANCE INDUSTRIES</p>
              </li>
              <li class="slider-item">
                <!-- technologies -->
                <p class="text1 w-100" width="130" height="40">RIGVED TECHNOLOGIES</p>
              </li>
        </ul>
      </div>
    </section>

    <section class="section about" aria-label="about me">
      <div class="container">
        <figure class="about-banner">
          <img
            src="assets/images/aboutinfo1.png"
            width="580"
            height="554"
            loading="lazy"
            alt="Jassa, the blonde, dressed in a black tops with a smile on her face"
            class="w-100"
          />
        </figure>

        <div class="about-content" id="about">
          <h2 class="title-lg">
            I'm a Software Engineer with over 1.9 years of
            experience.
          </h2>

          <p class="body-md section-text">
            I'm a software Engineer , Full stack developer with over 1.9 years of experience in corporate 
            working in Rigved Technologies pvt ltd for Client Reliance industries i have worked on 4 projects for the client which were Selfverification , Gap Assesment Tool ,Skill Assurance Process and MOC simultaneously working on creating and adding new features for app , debugging , problem solving , testing , collaborating. click below links to view my personal repos:
            <span style="display: flex;align-items: center;">
              <ion-icon name="logo-octocat"></ion-icon>:
                <a href="https://github.com/Brane105" style="margin-left: 5px;margin-right: 5px;" target="_blank">github</a>
                <ion-icon name="grid-outline"></ion-icon>:
                 <a href="https://replit.com/@BhalchandraRane" style="margin-left: 5px;" target="_blank">replit</a>
            </span>
            </p>

          <ul class="about-list">
            <li>
              <p class="list-text">
                <strong class="strong title-md">38+</strong> Git Repositories
              </p>
            </li>
            <li>
              <p class="list-text">
                <strong class="strong title-md">4+</strong> Client Projects
              </p>
            </li>
            <li>
              <p class="list-text">
                <strong class="strong title-md">2+</strong> Live Projects
              </p>
            </li>
<!-- 
            <li>
              <p class="list-text">
                <strong class="strong title-md">190+</strong> Happy Clients
              </p>
            </li> -->
          </ul>

          <div class="wrapper">
            <a routerLink="/contact" class="btn btn-primary">Contact Me</a>

            <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
          </div>
        </div>
      </div>
    </section>

    <!-- 
        - #SKILL
      -->

    <section class="section skill" aria-labelledby="skill-label">
      <div class="container">
        <div class="skill-content">
          <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

          <ul class="skill-list">
            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(177, 39%, 72%)"
              >
                <div class="card-media">
                  <ion-icon name="logo-html5"></ion-icon>
                </div>

                <h2 class="card-title">HTML</h2>
              </div>
            </li>

            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(41, 99%, 64%)"
              >
                <div class="card-media">
                  <ion-icon name="logo-css3"></ion-icon>
                </div>

                <h2 class="card-title">CSS</h2>
              </div>
            </li>

            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(19, 97%, 85%)"
              >
                <div class="card-media">
                  <ion-icon name="logo-react"></ion-icon>
                </div>

                <h2 class="card-title">React JS</h2>
              </div>
            </li>

            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(221, 100%, 79%)"
              >
                <div class="card-media">
                  <ion-icon name="logo-angular"></ion-icon>
                </div>

                <h2 class="card-title">Angular</h2>
              </div>
            </li>

            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(76, 39%, 72%)"
              >
                <div class="card-media">
                  <ion-icon name="logo-javascript"></ion-icon>                
                </div>
                <h2 class="card-title">Javascript</h2>
              </div>
            </li>

            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(245, 100%, 90%)"
              >
                <div class="card-media">
                  <ion-icon name="logo-nodejs"></ion-icon>
                </div>

                <h2 class="card-title">Node Js</h2>
              </div>
            </li>
            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(0, 100%, 90%)"
              >
                <div class="card-media">
                  <ion-icon name="analytics-outline"></ion-icon>
                </div>

                <h2 class="card-title">Mongodb</h2>
              </div>
            </li>
            <li>
              <div
                class="card card-sm"
                style="background-color: hsl(120, 100%, 90%)"
              >
                <div class="card-media">
                  <ion-icon name="analytics-outline"></ion-icon>
                </div>

                <h2 class="card-title">MySql</h2>
              </div>
            </li>
          </ul>
        </div>

        <figure class="skill-banner">
          <img
            src="assets/images/skills.png"
            style="height: 600px;"
            width="581"
            height="657"
            loading="lazy"
            alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face"
            class="w-100"
          />
        </figure>
      </div>
    </section>

    <!-- 
        - #CTA
      -->

    <section class="cta" style="margin-top: 20px;">
      <div class="container">
        <h2 class="title-lg">Intrested working with me?</h2>

        <a routerLink="/contact" class="btn btn-tertiary">Contact Now</a>
      </div>
    </section>

    <!-- 
        - #TESTIMONIALS
      -->

    <section class="section testi" aria-labelledby="testi-label">
      <div class="container">
        <h2 class="headline-md section-title text-center" id="testi-label">
          Live Projects
        </h2>

        <ul class="slider">
          <li class="slider-item card-container">
            <div class="card card-lg">
              <figure class="card-media">
                <img
                  src="assets/images/kanban.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="Jennifer Lutheran"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <blockquote class="body-sm">
                  kanban board app is an app created using angular for the front end and 
                  firebase for the backend we have three status backlog , in progress , done you can 
                  drag and drop your notes when done.
                </blockquote>

                <p class="client-name">Kanban Board App</p>

                <p class="client-title">Angular , Firebase </p>
                <p style="display: flex;">go to : <a href="https://kanban-board-application-ykx9.vercel.app/" target="_blank">kanban-app</a></p>
              </div>
            </div>
          </li>

          <li class="slider-item card-container">
            <div class="card card-lg">
              <figure class="card-media">
                <img
                  src="assets/images/realtor.png"
                  
                  loading="lazy"
                  alt="Jennifer Lutheran"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <blockquote class="body-sm">
                  Realtor App is an React based application it has various feature you can register , login 
                  , sell or rent your property , create listings of properties , map
                  we using react for frontend and firebase for backend.
                </blockquote>

                <p class="client-name">Realtor App</p>
                <p class="client-title">React , Firebase</p>
                <p style="display: flex;">go to : <a href="https://real-estate-application-five.vercel.app/" target="_blank">realtor-app</a></p>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
